summary {
    cursor: pointer;
    outline: none;
    font-size: x-large;
    font-weight: bold;
}

summary::marker {
    font-size: 0.8em;
}

summary::-webkit-details-marker {
    font-size: 0.8em;
}

[data-bs-theme=dark] div .conference  {
    font-size: larger;
    color: #77F;
    margin-bottom: 3px;
}


[data-bs-theme=light] div .conference  {
    font-size: larger;
    color: darkblue;
    margin-bottom: 3px;
}

div .authors {
    font-size: large;
}

div .accessButtons {
    margin: 10px 0px;
}

div .publicationContainer {
    margin: 20px 0px;
}

[data-bs-theme=dark] span.badge.rounded-pill.text-bg-dark {
    vertical-align: middle;
    font-weight: normal;
    font-size: medium;
    background-color: #FFF !important;
    color: #333 !important;
}

[data-bs-theme=light] span.badge.rounded-pill.text-bg-dark {
    vertical-align: middle;
    font-weight: normal;
    font-size: medium;
}

span.badge.rounded-pill.text-bg-dark i.bi.bi-award-fill {
    color: goldenrod;
}

video {
  width: 100%;
  height: auto;
}